In [9]:
import pandas
pandas.__version__

'0.23.4'

In [10]:
!head RollingSystemDemand_20180901_0129.csv

HDR,ROLLING SYSTEM DEMAND
VD,20180601000000,25152
VD,20180601000500,25231
VD,20180601001000,25070
VD,20180601001500,25019
VD,20180601002000,24943
VD,20180601002500,24727
VD,20180601003000,24716
VD,20180601003500,24815
VD,20180601004000,24877

In [11]:
dframe = pandas.read_csv("RollingSystemDemand_20180901_0129.csv")

In [12]:
dframe.head()

               HDR  ROLLING SYSTEM DEMAND
VD  20180601000000                25152.0
VD  20180601000500                25231.0
VD  20180601001000                25070.0
VD  20180601001500                25019.0
VD  20180601002000                24943.0

In [13]:
dframe.dtypes

HDR                        int64
ROLLING SYSTEM DEMAND    float64
dtype: object

I don't like that Pandas is treating "VD" as the index, so I'm going to force the index to be numeric

In [14]:
#dataframe.reset_index() # not sure why this didn't work
dframe.index=range(len(dframe))
dframe.head()

              HDR  ROLLING SYSTEM DEMAND
0  20180601000000                25152.0
1  20180601000500                25231.0
2  20180601001000                25070.0
3  20180601001500                25019.0
4  20180601002000                24943.0

I don't like the column names, so I'm going to change those

In [15]:
dframe.dtypes

HDR                        int64
ROLLING SYSTEM DEMAND    float64
dtype: object

In [16]:
dframe.columns=['time of measurement','demand level']

In [17]:
dframe.head()

   time of measurement  demand level
0       20180601000000       25152.0
1       20180601000500       25231.0
2       20180601001000       25070.0
3       20180601001500       25019.0
4       20180601002000       24943.0

In [18]:
dframe['time of measurement'][0:5]

0    20180601000000
1    20180601000500
2    20180601001000
3    20180601001500
4    20180601002000
Name: time of measurement, dtype: int64

In [19]:
dframe['time of measurement'][0:5].to_string()

'0    20180601000000\n1    20180601000500\n2    20180601001000\n3    20180601001500\n4    20180601002000'

In [ ]:
plt.plot_date(dframe['time of measurement'], dataframe['demand level'])
plt.show()