## from scratch (not recommended)

In [13]:
with open("sample.csv", 'r') as my_file:
    for line in my_file:
        print(line.rstrip())

Name, year, class, grade
Ming, 2013, Data 601, B
Imgb, 2015, Data 601, B
Rimgw, 2012, Data 601, A
Wemf, 2014, Data 602, C

_Note_: Additional work would be needed to split each line on the comma

<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>

## using csv library

In [14]:
import csv

In [16]:
with open("sample.csv", 'r') as my_file:
    reader = csv.reader(my_file)
    for row in reader:
        print(row)

['Name', ' year', ' class', ' grade']
['Ming', ' 2013', ' Data 601', ' B']
['Imgb', ' 2015', ' Data 601', ' B']
['Rimgw', ' 2012', ' Data 601', ' A']
['Wemf', ' 2014', ' Data 602', ' C']

_Note_: automatically detected delimiter and split line into list; white spaces were left in

<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>

## using Pandas library

In [18]:
import pandas

In [19]:
dataframe = pandas.read_csv("sample.csv")

In [20]:
dataframe

    Name   year      class  grade
0   Ming   2013   Data 601      B
1   Imgb   2015   Data 601      B
2  Rimgw   2012   Data 601      A
3   Wemf   2014   Data 602      C

_Note_: automatically detected delimiter and the header and also indexed the rows